 /* All Shop pages styling */
#btn_top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #333;
  color: #FFF;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#btn_top:hover {
  background-color: #555;
}

@keyframes bob{
    0%   {top: 90%; left: 50%;}
    50%  {top: 87%; left: 50%;}
    100% {top: 90%; left: 50%;}
}


        
        /* Shop Homepage styling */
.shophome_container1{
    width: 100%;
    height: 90%;
    position: fixed;
    top: 10%;
    background-image: url("../Images/office_notepad.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.shophome_message{
    position: absolute;
    top: 10%;
    left: 70%;
    width: 20%;
    color: #000;
    font-size: 400%;
}

.shophome_container1 i{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    animation-name: bob;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.shophome_container2{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 100%;
    background-image: url("../Images/city_skyline.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.shophome_container2 h1{
    transition: all 0.8s ease;
}

/* code for the text that appears upon scrolling */
.shophome_container2.hidden h1{
    opacity: 0;
    transform: translate3d(0, 0, 400px) rotateY(-40deg);
}

.company_guarantee{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 35%;
    color: #FFF;
    font-size: 400%;
}

.shophome_container3{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 180%;
    background-color: rgb(204, 51, 51);
    color: #FFF;
}

.shophome_container4{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 220%;
    background-image: url("../Images/whiteboard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.shophome_container4 h1{
    transition: all 0.8s ease;
}

/* code for the text that appears upon scrolling */
.shophome_container4.hidden2 h1{
    opacity: 0;
    transform: translate3d(0, 0, 400px) rotateY(-40deg);
}

.company_guarantee2{
    position: absolute;
    top: 10%;
    left: 60%;
    width: 30%;
    color: #000;
    font-size: 400%;
}

.shophome_container5{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 300%;
    background-color: rgb(25, 148, 230);
    color: #FFF;
}

.shophome_container6{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 340%;
    background-image: url("../Images/beach_sunset.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.shophome_container6 h1{
    transition: all 0.8s ease;
}

/* code for the text that appears upon scrolling */
.shophome_container6.hidden3 h1{
    opacity: 0;
    transform: translate3d(0, 0, 400px) rotateY(-40deg);
}

.shophome_container7{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 420%;
    background-color: rgb(96, 64, 191);
    color: #FFF;
}

.shophome_container8{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 460%;
    background-color: rgb(236, 121, 198);
    color: #FFF;
}

.company_info1{
    position: absolute;
    top: 25%;
    left: 15%;
    width: 36%;
    font-size: 400%;
}

.company_info2{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 36%;
}

.company_info3{
    position: absolute;
    top: 10%;
    left: 15%;
    width: 36%;
    font-size: 400%;
}

.shop_btn1{
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #333;
    color: #FFF;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    text-decoration: none;
}

.shop_btn1:hover{
    background-color: #555;
}

.shop_btn2{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #333;
    color: #FFF;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    text-decoration: none;
}

.shop_btn2:hover{
    background-color: #555;
}

.shop1_copyright{
    position: absolute;
    top: 500%;
    width: 100%;
    height: 10%;
    background-color: LightGray;
}

.shop1_copyright p{
    position: absolute;
    left: 10%;
}






        /* About Cloud page styling */
.aboutcloud_container1{
    width: 100%;
    height: 90%;
    position: fixed;
    top: 10%;
    background-image: url("../Images/cloud_held.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.aboutcloud_container1 i{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    animation-name: bob;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.aboutcloud_message{
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 400%;
}

.aboutcloud_container2{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 100%;
    background-color: rgb(204, 51, 51);
    color: #FFF;
}

iframe{
    position: absolute;
    top: 10%;
    left: 15%;
    width: 30%;
    height: 80%;
}

.aboutcloud_container3{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 140%;
    background-color: LightGray;
    color: #FFF;
}

.aboutcloud_container3 h1{
    transition: all 0.8s ease;
}

/* code for the text that appears upon scrolling */
.aboutcloud_container3.hidden5 h1{
    opacity: 0;
    transform: translate3d(0, 0, 400px) rotateY(-40deg);
}

.aboutcloud_container4{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 180%;
    background-color: rgb(204, 51, 51);
    color: #FFF;
}

.aboutcloud_container4 h3{
    transition: all 0.8s ease;
}

/* code for the text that appears upon scrolling */
.aboutcloud_container4.hidden h3{
    opacity: 0;
    transform: translate3d(0, 0, 400px) rotateY(-40deg);
}

.company_info4{
    position: absolute;
    top: 15%;
    left: 60%;
    width: 30%;
}

.aboutcloud_container5{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 260%;
    background-color: rgb(25, 148, 230);
    color: #FFF;
}

.aboutcloud_container5 h3{
    transition: all 0.8s ease;
}

/* code for the text that appears upon scrolling */
.aboutcloud_container5.hidden2 h3{
    opacity: 0;
    transform: translate3d(0, 0, 400px) rotateY(-40deg);
}

.aboutcloud_container6{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 340%;
    background-color: rgb(96, 64, 191);
    color: #FFF;
}

.aboutcloud_container6 h3{
    transition: all 0.8s ease;
}

/* code for the text that appears upon scrolling */
.aboutcloud_container6.hidden3 h3{
    opacity: 0;
    transform: translate3d(0, 0, 400px) rotateY(-40deg);
}

.company_info5{
    position: absolute;
    top: 2%;
    left: 60%;
    width: 30%;
}

.aboutcloud_container7{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 420%;
    background-color: rgb(236, 121, 198);
    color: #FFF;
}

.aboutcloud_container7 h3{
    transition: all 0.8s ease;
}

/* code for the text that appears upon scrolling */
.aboutcloud_container7.hidden4 h3{
    opacity: 0;
    transform: translate3d(0, 0, 400px) rotateY(-40deg);
}

.shop2_copyright{
    position: absolute;
    top: 500%;
    width: 100%;
    height: 10%;
    background-color: #FFF;
}

.shop2_copyright p{
    position: absolute;
    left: 10%;
}






        /* Products page styling */
.products_container1{
    width: 100%;
    height: 90%;
    position: fixed;
    top: 10%;
    background-image: url("../Images/mac_table.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}        

.products_message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 400%;
    color: #FFF;
}

.products_container1 i{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: #FFF;
    animation-name: bob;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.products_container2{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 100%;
    background-color: rgb(204, 51, 51);
    color: #FFF;
}

.products_container2 img{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 100%;
    background-color: #FFF;
}

.products_container2 h1, .products_container2 p{
    transition: all 0.8s ease;
}

/* code for the text that appears upon scrolling */
.products_container2.hidden h1, .products_container2.hidden p{
    opacity: 0;
    transform: translate3d(0, 0, 400px) rotateY(-40deg);
}

.company_info6{
    position: absolute;
    top: 20%;
    left: 60%;
    width: 30%;
}

.products_name1{
    position: absolute;
    top: 0%;
    left: 60%;
    width: 30%;
    font-size: 400%;
}

.products_container3{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 180%;
    background-color: rgb(25, 148, 230);
    color: #FFF;
}

.products_container3 img{
    position: absolute;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: #FFF;
}

.products_container3 h1, .products_container3 p{
    transition: all 0.8s ease;
}

/* code for the text that appears upon scrolling */
.products_container3.hidden2 h1, .products_container3.hidden2 p{
    opacity: 0;
    transform: translate3d(0, 0, 400px) rotateY(-40deg);
}

.company_info7{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 30%;
}

.products_name2{
    position: absolute;
    top: 0%;
    left: 10%;
    width: 30%;
    font-size: 400%;
}

.products_container4{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 260%;
    background-color: rgb(204, 51, 51);
    color: #FFF;
}

.products_container4 img{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 100%;
    background-color: #FFF;
}

.products_container4 h1, .products_container4 p{
    transition: all 0.8s ease;
}

/* code for the text that appears upon scrolling */
.products_container4.hidden3 h1, .products_container4.hidden3 p{
    opacity: 0;
    transform: translate3d(0, 0, 400px) rotateY(-40deg);
}

.products_container5{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 340%;
    background-color: rgb(25, 148, 230);
    color: #FFF;
}

.products_container5 img{
    position: absolute;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: #FFF;
}

.products_container5 h1, .products_container5 p{
    transition: all 0.8s ease;
}

/* code for the text that appears upon scrolling */
.products_container5.hidden4 h1, .products_container5.hidden4 p{
    opacity: 0;
    transform: translate3d(0, 0, 400px) rotateY(-40deg);
}

.products_container6{
    width: 100%;
    height: 60%;
    position: absolute;
    top: 420%;
    background-color: rgb(204, 51, 51);
    color: #FFF;
}

.products_ready{
    position: absolute;
    top: 0%;
    left: 10%;
    width: 35%;
    font-size: 400%;
}

.company_info8{
    position: absolute;
    top: 50%;
    left: 10%;
    width: 35%;
}

.ebus_btn{
    position: absolute;
    top: 10%;
    left: 0%;

    z-index: 98;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    text-decoration: none;
}

.ebus_btn:hover{
    background-color: #555;
}

.products_notready{
    position: absolute;
    top: 0%;
    left: 55%;
    width: 35%;
    font-size: 400%;
}

.products_social{
    position: absolute;
    top: 50%;
    left: 55%;
    width: 35%;
}

/* social media icons */
.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    
    position: absolute;
    top: 70%;
    left: 55%;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    
    position: absolute;
    top: 70%;
    left: 62%;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    
    position: absolute;
    top: 70%;
    left: 69%;
}

.fa-youtube {
    background: #bb0000;
    color: white;
    
    position: absolute;
    top: 70%;
    left: 76%;
}


.shop3_copyright{
    position: absolute;
    top: 480%;
    width: 100%;
    height: 10%;
    background-color: #FFF;
}

.shop3_copyright p{
    position: absolute;
    left: 10%;
}








        /* E-business page 1 styling */
.ebus_content{
    position: absolute;
    width: 100%;
    height: 90%;
    top: 10%;
    background-color: #f2f2f2;
}

.changing_pic{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 25%;
    height: 30%;
}

.changing_pic img{
    width: 100%;
    height: 100%;
}

.ebus_content h1{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ebus_content .label1{
    position: absolute;
    top: 20%;
    left: 43%;
}

.ebus_content .label2{
    position: absolute;
    top: 25%;
    left: 43%;
}

.ebus_content .label3{
    position: absolute;
    top: 30%;
    left: 43%;
}

.ebus_content .label4{
    position: absolute;
    top: 35%;
    left: 43%;
}

.ebus_content .label5{
    position: absolute;
    top: 50%;
    left: 42%;
}
.ebus_content .label6{
    position: absolute;
    top: 55%;
    left: 42%;
}
.ebus_content .label7{
    position: absolute;
    top: 60%;
    left: 42%;
}

.ebus_content .label8{
    position: absolute;
    top: 65%;
    left: 42%;
}

.add_btn{
    position: absolute;
    top: 71%;
    left: 42%;
}

.add_btn i{
    font-size: 12px;
}

.add_btn_style{
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 90%;
}

.add_btn_style:hover{
    cursor: pointer;
    background-color: #FFF;
    color: #4CAF50;
}

.cal_btn{
    position: absolute;
    top: 75%;
    left: 42%;
    
    background-color: #ffff00;
    border: none;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 6px 6px;
    border-radius: 3px;
    font-size: 95%;
}

.cal_btn:hover{
    cursor: pointer;
    background-color: #FFF;
    color: #000;
}

.clear_btn{
    position: absolute;
    top: 75%;
    left: 51%;
    
    text-decoration: none;
    color: #FFF;
    background-color: red;
    padding: 4px 4px;
    border-radius: 3px;
}

.clear_btn i{
    font-size: 12px;
}

.clear_btn:hover{
    cursor: pointer;
    background-color: #FFF;
    color: red;
}

.ebus_copyright{
    position: absolute;
    top: 90%;
    width: 100%;
    height: 10%;
    background-color: LightGray;
}

.ebus_copyright p{
    position: absolute;
    left: 10%;
}


        /* E-business page 2 styling */
.ebus2_heading{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lbl_name{
    position: absolute;
    top: 20%;
    left: 42%;
}

.lbl_email{
    position: absolute;
    top: 25%;
    left: 42%;
}

.lbl_pin{
    position: absolute;
    top: 30%;
    left: 42%;
}

.btn_proceed{
    position: absolute;
    top: 43%;
    left: 42%;
    width: 20%;
    
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 90%;
}

.btn_proceed:hover{
    cursor: pointer;
    background-color: #FFF;
    color: #4CAF50;
}

.btn_validate{
    position: absolute;
    top: 38%;
    left: 42%;
    width: 20%;
    
    background-color: #008CBA;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 90%;
}

.btn_validate:hover{
    cursor: pointer;
    background-color: #FFF;
    color: #008CBA;
}

.return_btn{
    position: absolute;
    top: 47%;
    left: 42%;
    
    text-decoration: none;
    color: #FFF;
    background-color: red;
    padding: 4px 4px;
    border: solid 1px red;
    border-radius: 3px;
}

.return_btn i{
    font-size: 12px;
}

.return_btn:hover{
    cursor: pointer;
    background-color: #FFF;
    color: red;
}

        /* E-business page 3 styling */
        
.ebus3_heading{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ebus3_name{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ebus3_email{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ebus3_total{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ebus3_heading2{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ebus3_message{
    position: absolute;
    top: 60%;
    left: 50%;
    width: 30%;
    transform: translate(-50%, -50%);
}

.home_btn{
    position: absolute;
    top: 75%;
    left: 40%;
    width: 20%;
    
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 90%;
}

.home_btn:hover{
    cursor: pointer;
    background-color: #FFF;
    color: #4CAF50;
}